*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
  
  font-weight: weight;
  font-style: normal;
}
.header{
    background-image:url(header/header-background.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding: 20px;
}
.signnav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav{
    display: flex;
    gap: 60px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  font-weight:bold;

    
}
.home1{

 border-bottom: 2px solid white;

}
.home1:active{
    border-bottom: 2px solid #E15CF2;
}



.discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 230px;
}
.teqsti{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding:10px ;
}
.h1{
    color: white;
    font-size: 70px;
    width: 1000px;
    text-align: center;
    line-height: 1.3;
}
.p1{
    color: white;
    font-size: 24;
    font-weight: bold;
    text-align: center;
}
.signin:hover{
    background-color: #D8CCE0;
}
.signin:active{
    background:transparent;
    border: 1px solid white;
    color: white;
}
.button1:hover{
    background-color: #883DF2;
}
.button1:active{
    background:transparent;
    border: 1px solid white;
    color: white;
}
button{
    width: 150px;
    height: 52px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
   border: none;
  
}
.button{
    display: flex;
    flex-wrap: wrap;
     margin: 35px;
     gap: 40px;
     justify-content: center;
     align-items: center;
}
.button1{
    width: 220px;
    height: 48px;
    color: white;
    background-color: #5604AD;
    border: none;
  
}
.button2{
    width: 220px;
    height: 48px;
    border: none;
}
.headmain{
     background: linear-gradient(to bottom, #060307
    0%, #060307 50%, #090A26 100%);
    display: flex;
flex-direction: column;
gap: 80px;
}
main{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 80px;
}
.div1{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.partners{
    display: flex;
     justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.p2{
    color: white;
    font-size: 16px;
 

}

.implants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.implantebi{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.h2{
    font-size: 24px;
    color: white;
    font-weight: bold;

}
.raghac{
   
     display: flex;
    justify-content: center;
    align-items: center;
 gap: 20px;
  
}
.arrow{
   margin-top: 250px;
}

.popularimplants{
    width: 100%;
    position: relative;
    

}
.glassmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.whoweare{
        background-image: url(main/glassesgirl.png);
    background-position: center;
    background-size:cover;
 width:100%;
 height: 497px;
    display: flex;
    flex-direction: column;
  align-items:flex-end;
  justify-content: center;
 

}
.glasses{

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 70px;
}
.p3{
    font-size: 20px;
    line-height: 39px;
    font-weight: bold;
    color: white;
    width: 320px;
    height: 234px;
    text-align: center;
}
.h3{
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.button3{
    color: white;
    background-color: #5604AD;
    width: 194px;
}
.members{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
}
.same{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap: 80px;
}
.name{
    display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
   gap: 20px;
}
.sameh{
font-size: 24px;
color: white;
}
.samep{
    font-size: 16px;
 color: white;
 font-weight: 400;
}
.footer{
  display: flex;
  font-family: "Montserrat", sans-serif;

  align-items: center;
  flex-wrap: wrap;
  gap: 240px;
  padding: 120px;
  border-top: 1px solid #502356;
}
.nav{
    display: flex;
    gap: 170px;
}
.nav1{
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.socialtext{
    width: 380px;
    
    color: white;
    font-size: 12px;

}
.foota{
    font-size: 14px;
    font-weight:lighter;
}
h3{
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.footlogo{
    width: 178px;
    height: 48px;
    position: relative;
    right: 30px;
    top: -17px;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 27px;
}
.socialapps{
    display: flex;
    gap: 50px;
}

.bolo{
    display: flex;
   justify-content: space-around;
   align-items: center;
 gap: 200px;
 
 padding: 30px;
 border-top: 1px solid #502356;
 position: relative;
 flex-wrap: wrap;

   
}
.bolop{
    color: white;
    
}
.chemi{
    background-color:white !important;
    width: 80px !important;
  
    padding: 0 !important;
    margin: 0 !important;
  
    
}
.ghilaki{
    position: absolute !important;
    background-color: white;
    right: 0px ;
    z-index: 10;
    width: 80px;
   display: flex !important;
   gap: 20px;
   align-items: center ;

}
@media screen and (min-width: 1200px) {
    .chemi{
        display: none !important;
    }
  
   
}
@media screen and (max-width: 800px) {
    .headnav{
        display: none;
    }
    .home{
        color: black;
    }
    header{
        gap: 0px;
        justify-content: center;
    }
   .socialtext{
    width: 100%;
   }
   .footer{
    gap: 100px;
    
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   }
   footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .bolo{
    gap: 20px;
    justify-content: center;
   }
 
  
   .social{
   align-items: center;
    justify-content: center;
    
   }
   .h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
   }
   .p1,.p2, .h3{
    width: 100%;
    text-align: center;
   }
   .ghilaki{
    background-color: #5604AD;

   }
   .home{
    color: white;
   }
   .whoweare{
     justify-content: center;
     align-items: center;

   }
 .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
 }
 .teqsti{
    gap: 0px;
 }
 .button{
    margin: 0px;
 }
  .bolonav{
    gap: 10px;
  }
  .discover{
    top: 155px;
  }
}
@media screen and (max-width:550px) {
    .signin{
     display: none;
    }
    .signicon{
        display: none;
    }
    .socialtext{
    width: 100%;
   }
   
}








